.cardsetting{
    box-shadow: 0 3px 10px rgba(52,58,64,.2);
    margin-bottom: 1rem!important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 0;
}
.headon{
    color: #6c757d!important;
    text-transform: uppercase!important;
    font-size: 80%;
    font-weight: 400;
}
.Headline{
    border-radius: 0 0 0 0;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 0 solid rgba(0,0,0,.125);
}
.cardsetbody{
    text-align: justify;
    color: #112445!important;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.subexplain{
    color: #6c757d!important;
    margin-bottom: 0!important;
}