.features{
    color: rgb(33, 37, 41);
}
.sethead{
    text-align: center;
    font-weight: 400;
    line-height: 1.12rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    position: relative;
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
}
.setheads{
    text-align: center;
    font-weight: 400;
    line-height: 1.12rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
    position: relative;
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
}
.settitle{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;

}
.integrate{
    text-align: center;
}
.design{
    font-weight: 700;
    line-height: 1.2rem;
    font-size: 1.75rem;
    padding-top: 7rem;
}
.setlist{
    display: block;
    padding: 2rem 2rem;
}
a{
    color: #3b5fbf;
    text-decoration: none;
    background-color: transparent;
}
.c:hover{
    color:#294285;
}
.ccc{
    fill:#212529;
}
.ccc:hover{
    fill:#68217A;
}
.ccc1{
    fill:#212529;
}
.ccc1:hover{
    fill:#000;
}
.ccc2{
    fill:#212529;
}
.ccc2:hover{
    fill:#EA2D2E;
}
.ccc3{
    fill:#212529;
}
.ccc3:hover{
    fill:#83CD29;
}
.ccc4{
    fill:#212529;
}
.ccc4:hover{
    fill:#6181B6;
}
.ccc5{
    fill:#212529;
}
.ccc5:hover{
    fill:#FFD845;
}
.ccc6{
    fill:#212529;
}
.ccc6:hover{
    fill:#D91404;
}
.isvgl{
    padding: 0.5rem;
    width: 70px;
}
.nav-it{
    padding-top: 2rem;
    padding-right: 1.2rem;
    padding-left: 0.5rem;
    font-size: 1.15rem;
    font-family: Helvetica ,Arial,sans-serif,Symbol, Color ;
    font-weight: 700; 
}
.isvgls{
    padding: 0.5rem;
    padding-top:1.5rem;
    width: 70px;
}
.isvglp{
    padding: 0.5rem;
    padding-top:1.27rem;
    width: 70px;
}
.isvg{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 2rem;
}
.displaypricing{
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 3rem;
}
.coldiss{
    position: relative;
    width: 95%;
    padding-left: 31px;
}
.coldis{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    height: 400px;
}
.listing{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
}
.clogo1{
    height: 24px;
    padding-left: 1rem;
}
.clogo2{
    height: 30px;
    padding-left: 1rem;
}
.clogo3{
    height: 27px;
    padding-left: 1rem;
}
.clogo4{
    height: 38px;
    padding-left: 1rem;
}
.clogo5{
    height: 28px;
    padding-left: 1rem;
}
.company{
    background-color: white ;
    border:1px solid #dee2e6;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    padding-bottom: 1rem;
    padding-top: 1rem;
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}
.designs{
    font-weight: 700;
    line-height: 1.2rem;
    font-size: 1.75rem;
    padding-top:2rem
}
.displayfeatures{
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.hcontent{
    font-weight: 300;
}
.sets{
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 3rem;
    max-width:25.5%;
    flex:0 0 33.3333%
}
.highlight{
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    font-size: 1rem;
    
}
.fimage{
    align-items: center;
    width:100%;
    height:100%
}
.design::before{
    position: absolute;
    content: "";
    width: 40px;
    height: 4px;
    left: 50%;
    bottom: 0px;
    margin-left: -20px;
    background: rgb(220, 53, 69);
    box-sizing: border-box;
}
.designs::before{position: absolute;
    content: "";
    width: 40px;
    height: 4px;
    left: 50%;
    bottom: 0px;
    margin-left: -20px;
    background: rgb(220, 53, 69);
    box-sizing: border-box;}